
a {text-decoration: none;
	color:white;}


body{ width:100%;
margin: 0 auto;
padding: 0 auto;
font-family: verdana;
color: white;}

input {
	background-image: url('images/header-back.jpg') ;
    border: 1px solid green;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

input:hover{
	opacity: .5;
	box-shadow: 1px 1px;
}
#none{
	color: white;
}

.grid{display: grid;
	grid-template-rows: .2fr .1fr .55fr .5fr .6fr .4fr

}
.oneGrid{display: flex;
background-image: url('images/blur-background.jpg');}

.topnav-wrapper{
width: 100%;
grid-column-start: 1;
grid-column-end:3;

}
.fiveGrid{ width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
	margin-left:10%;
	
}

.sixGrid{height: 100%;
}
.header{
	height: 300px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	width: 80%;	
}
#mifflin{background-size: contain;
	height: 100px;
	width: 150px;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-right:30%;
	margin-top: 30px;

}
#logoMifflin{
}
ul{display:flex;
	
}

ul li{display:inline-flex;
margin: 0 auto;
text-align: center;
text-shadow: 0px 1px 10px  white;}

ul li:hover{color: black;
	font-weight: bold;
	color: white;
	opacity: .5;
	box-shadow: 1px 1px;

}



.oneGrid{
	display: inline-flex;
	justify-content: center;
	width: 100%;
	font-family: helvetica;
	color: lightgrey;

}
.threeGrid{width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: auto;
	margin-left: auto;
	color: black;
	margin-top: 75px;
}


.socialLinks{
	grid-column-start: 2;
	grid-column-end: 3;
	height: 80px;
	text-align: right;
	display: inline-block;
	margin-left: 30%;
	margin-top: 30px;
	
}

.z-box{position: relative;
	width: 50%;
	height: 400px;
	z-index: 1;
	margin-top: -50px;
	margin-left: auto;
	margin-right:auto;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	overflow: hidden;
}


.zboxleft{
	background-image: url('images/michael1.jpg');
	background-size: 100% 100%;
}

.zboxright{
	background-color: grey;
	opacity: .9;
	text-align: center;

}

.button{margin-top: 50px;
	background-color: lightblue;
    border: 1px solid white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    
}
#buttonRight{float: right;

}



.event-left{height: 100px;
	text-align: center;
	border: ;
}
.event-right{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100% ;
}
.box-right{display: grid;
	grid-template-rows: 1fr 3fr;
	height: 250px;
	width: 250px;
	 

}
.top-box{
	background-image: url('images/header-back.jpg');
	color: white;
	text-align: center;
	padding: 20px;
}
.box-left{
	display: grid;
	grid-template-rows: 1fr 3fr;
	height: 250px;
	width: 250px;

}

#oct2{
	background-image: url('images/oct1.jpg');
	background-size: 100% 100%;
}

#nov2{
	background-image: url('images/nov1.jpg');
	background-size: 100% 100%;
}



.events2{ width: 80%; }


.membership3{
	background-image: url('images/header-back2.jpg');
	width:100%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	
}

.member-gridwrap{width: 80%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 10px;


}
.member-left{
	border: ;
	color: white;
	
}
#memberlist{
	display:block;
	margin-right:10px;

	
}



.newsinsight{
	height: 100px;
}


.news-grid{ margin-top: 30px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	
}

.news-left{ margin-left: auto;
	margin-right: auto;
	color:black;

} 
 

.news-right{ width: 100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	


}

.dwight{background-size: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px;
	color: white;
}



.newletter{ width: 100%;
	height: 100%
	height: 200px;
	background-image: url('images/footer.jpg');
	opacity: .8;
	border: ;
	color: white;
	margin-top: 10px;

}
.newletter-flex{width: 80%;
	height:300px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin-left: auto;
	margin-right:auto;
	margin-top: 5px;
}
.newsletter-float{
	justify-content: center;
	display: flex;
	height: 30px;
	margin-top: 125px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.newletter-flex h5{
text-align: center;
margin-top: 25%;}

#pink{background-color: magenta;
		}
#pam{
	background-image: url('images/pam1.jpg');
	background-size: 100% 100%;
}

#jim{
	background-image: url('images/jim1.jpg');
	background-size: 100% 100%;
}
.sevenGrid{height:100px;
	background-color: black;

}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color:black;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#demo{font-family: courier;
	margin-top:-10px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

@media all and (min-width: 1px) and (max-width: 860px){
body{ 
	display: block;
	overflow-x: hidden;
	width: 100%;
} 

.oneGrid{display: block;}
.fiveGrid{
	height: 450px;
}


.topnav-wrapper{ display: block;
	margin-top: -150px;
	margin-left: 10%;
	padding: 0px 10px;
}

.sixGrid{display: block;
}
.header{ display: block;

}
#mifflin{justify-content: center;
	height: 200px;
	width: 300px;
	

}
#logoMifflin{
	
}
ul{
}

ul li{}

ul li:hover{
}

.grid{
	grid-template-rows: .2fr .4fr .3fr .4fr .2fr;
}

.oneGrid{
	display: block;


}
.threeGrid{display: block;
	margin-top: -50px;
}


.socialLinks{
	display: block;
	
}

.z-box{display: block;
	margin-top: 50px;
}


#michaelPic{
	display: block;
}


.button{
    
}
#buttonRight{

}



.event-left{ margin-top:10px;
display: block;}
.event-right{ margin-top: 20px;
	margin-left:10%;
}
.box-right{

}
.top-box{
	;
}
.box-left{
	

}

#oct2{
	
}

#nov2{
	
}



.events2{ display: block; 
}


.membership3{
	display: block;
	
}

.member-gridwrap{display: block;


}
.member-left{

	
}
.member-right{display:inline-block;
		margin-right: auto;
	margin-left: auto;

}
#memberlist{


	
}



.newsinsight{
	display: block;
}


.news-grid{ display: block;
	
}

.news-left{ 
	text-align: center;

} 
 

.news-right{ 
	margin-left: 5%;
	margin-top: 10px;

	


}
.dwight{display: block;
	padding-top: 15px;
}



.newletter{ display: block;

}
.newletter-flex{
}
.newsletter-float{
	
}
.newletter-flex h5{
}

#pink{background-color: magenta;
		}
#pam{
	
}

#jim{
	
}
.sevenGrid{display: block;

}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color:black;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*#demo{background-image: url('images/pams.gif');
}
*/

/*@media all and (min-width: 707px) and (max-width: 1376px){


@media all and (min-width: 1377px){
	body
		{
	}
	
	
}*/


